@import 'tailwindcss';
@import '@fontsource/pretendard';

@layer base {
  :root {
    --color-primary-700: #291b16;
    --color-primary-500-60: #886554;
    --color-primary-500-50: #a57865;
    --color-secondary-300: #ce5133;
    --color-custom-gray-50: #cdd1d5;
    --color-custom-gray-30: #b1b8be;

    --font-pretendard: 'Pretendard', sans-serif;
  }

  body {
    font-family: var(--font-pretendard);
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center rounded-lg font-semibold transition-colors duration-200;
  }

  .btn-primary {
    @apply bg-(--color-primary-700) text-white hover:opacity-90;
  }
  .btn-primary-hollow {
    @apply border border-(--color-primary-700) bg-white text-(--color-primary-700) hover:opacity-90;
  }

  .mobile-visible {
    @apply inline-flex;
  }

  .mobile-hidden {
    @apply hidden md:inline-flex;
  }
}

.modal {
  @apply rounded-lg bg-white p-6 shadow-lg transition-all;
  width: 90%;
  max-width: 40rem;
}

/* 반응형 설정 */
@media (min-width: 640px) {
  /* sm */
  .modal {
    width: 30rem;
  }
}

@media (min-width: 768px) {
  /* md */
  .modal {
    width: 40rem;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .modal {
    width: 50rem;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .modal {
    width: 56rem;
  }
}
